<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>HeaderFilter</filter-name>
    <filter-class>com.appengine.practice.HeaderFilter</filter-class>
    <init-param>
      <param-name>Site</param-name>
      <param-value>AppEnginePractice</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>HeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>com.appengine.practice.HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Send_challengeEngine</servlet-name>
    <servlet-class>com.appengine.practice.Send_challengeEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Send_challengeEngine</servlet-name>
    <url-pattern>/send_challenge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.appengine.practice.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
</web-app>